*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Segoe UI, sans-serif;
    background:#111827;
    color:white;
}

.hero{
    height:100vh;
    background-image:url("https://images.unsplash.com/photo-1515879218367-8466d910aaa4");
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
}

.overlay{
    background:rgba(0,0,0,0.6);
    padding:40px;
    border-radius:20px;
    text-align:center;
}

.hero h1{
    font-size:4rem;
    color:#ff66c4;
}

.hero p{
    margin-top:15px;
    font-size:1.2rem;
}

.btn{
    display:inline-block;
    margin-top:25px;
    padding:15px 30px;
    background:#ff66c4;
    color:white;
    text-decoration:none;
    border-radius:50px;
}

.contenido{
    padding:60px 20px;
    max-width:1000px;
    margin:auto;
    text-align:center;
}

.upload{
    max-width:700px;
    margin:40px auto;
    background:#1f2937;
    padding:30px;
    border-radius:15px;
}

.upload h2{
    margin-bottom:20px;
}

form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

input,
textarea{
    padding:15px;
    border:none;
    border-radius:10px;
}

button{
    padding:15px;
    border:none;
    border-radius:10px;
    background:#ff66c4;
    color:white;
    font-size:1rem;
    cursor:pointer;
}

button:hover{
    background:#ff3da8;
}

footer{
    text-align:center;
    padding:30px;
    margin-top:40px;
    background:#0f172a;
}
